# 📦 Dependencias (NUNCA subir esto)
node_modules/
.pnp
.pnp.js

# 🚀 Producción / Build
dist/
build/
.vercel

# 🛠️ Logs y Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 🔐 Seguridad y Variables de Entorno (¡VITAL!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 💻 Configuraciones de Editor (VS Code / JetBrains)
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 🍎 Archivos de Sistema
.DS_Store
Thumbs.db

# ⚡ Caché de Herramientas
.vite/
.eslintcache
